h5py==2.8.0
jupyter==1.0.0
Keras==2.2.4
matplotlib3.0.1
nltk==3.4
numpy==1.15.3
prometheus-client==0.4.2
python-dateutil==2.7.5
PyYAML==3.13
requests==2.20.0
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
tensorboard==1.11.0
tensorflow==1.11.0
urllib3==1.24.1
Werkzeug==0.14.1
tqdm==4.31.1
regex==2019.2.21
pillow=5.4.1